In [2]:
# import 모음
import pandas as pd
import shutil
import numpy as np
import matplotlib.pyplot as plt # 파이썬에서 데이터 시각화를 위해 사용하는 기본 라이브러리
import seaborn as sns # 그래프의 디자인을 다듬어주는 라이브러리

# 1. 판다스 Series와 DataFrame

In [1]:
import pandas as pd

In [8]:
# 1. 판다스 Series

# 1차원 데이터 구조로 인덱스를 포함하는 배열 형태
series_example = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
print(series_example)
print('')
print(series_example['A'])
print(series_example['C'])

A    10
B    20
C    30
D    40
dtype: int64

10
30

In [8]:
# 2. 판다스 DataFrame

# DataFrame은 행과 열로 구성된 테이블 형태의 2차원 데이터 구조
# 여러 개의 Series가 모여서 DataFrame을 구성한다.

dataframe_example = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['뉴욕', '로스엔젤레스', '시카고', '휴스톤']
})

display(dataframe_example)
print(dataframe_example)
print('')
print(dataframe_example['Name'])
print('')
print(dataframe_example['City'])

      Name  Age    City
0    Alice   25      뉴욕
1      Bob   30  로스엔젤레스
2  Charlie   35     시카고
3    David   40     휴스톤

      Name  Age    City
0    Alice   25      뉴욕
1      Bob   30  로스엔젤레스
2  Charlie   35     시카고
3    David   40     휴스톤

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

0        뉴욕
1    로스엔젤레스
2       시카고
3       휴스톤
Name: City, dtype: object

### 2. california_housing_train 사용하기

In [5]:
# csv 파일을 DataFrame 형태로 읽기
train = pd.read_csv('sample_data/california_housing_train.csv')
train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [6]:
# 특정 열 가져오기
train['housing_median_age']

0        15
1        19
2        17
3        14
4        20
         ..
16995    52
16996    36
16997    17
16998    19
16999    52
Name: housing_median_age, Length: 17000, dtype: int64

In [11]:
train['population']

0        1015
1        1129
2         333
3         515
4         624
         ...
16995     907
16996    1194
16997    1244
16998    1298
16999     806
Name: population, Length: 17000, dtype: int64

In [12]:
# 조건에 따른 필터링
# housing_median_age가 10미만 데이터만 가져오기
train_min_10 = train[train['housing_median_age'] < 10]
train_min_10

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
58,-115.52,32.67,6,2804,581,2807,594,2.0625,67700
75,-115.55,32.78,5,2652,606,1767,536,2.8025,84300
95,-115.58,32.81,5,805,143,458,143,4.4750,96300
98,-115.58,32.78,5,2494,414,1416,421,5.7843,110100
100,-115.59,32.79,8,2183,307,1000,287,6.3814,159900
...,...,...,...,...,...,...,...,...,...
16679,-122.79,38.48,7,6837,1417,3468,1405,3.1662,191000
16680,-122.79,38.42,9,4967,885,2581,915,5.0380,185600
16692,-122.82,38.55,8,6190,1088,2967,1000,3.8616,195100
16776,-123.00,38.33,8,3223,637,851,418,5.6445,364800
16854,-123.49,38.70,9,5409,1019,594,327,3.3125,295400

### 3. 데이터 프레임을 활용해서 housing_median_age가 10 미만인 데이터 삭제

In [7]:
train = pd.read_csv('sample_data/california_housing_train.csv')

new_data = [] # housing_median_age가 10미만인 데이터를 삭제한 결과 저장

# iterrows(): 데이터프레임의 각 행을 반복해서 행별 데이터를 가져옴
# index: 행의 인덱스
# row: 행의 데이터를 판다스 Series 형태로 반환

for index, row in train.iterrows():
    # print(index, row)
    if row.housing_median_age >= 10: # housing_median_age가 10이상인 데이터만
        new_data.append(row)

new_data

[longitude              -114.3100
 latitude                 34.1900
 housing_median_age       15.0000
 total_rooms            5612.0000
 total_bedrooms         1283.0000
 population             1015.0000
 households              472.0000
 median_income             1.4936
 median_house_value    66900.0000
 Name: 0, dtype: float64,
 longitude              -114.47
 latitude                 34.40
 housing_median_age       19.00
 total_rooms            7650.00
 total_bedrooms         1901.00
 population             1129.00
 households              463.00
 median_income             1.82
 median_house_value    80100.00
 Name: 1, dtype: float64,
 longitude              -114.5600
 latitude                 33.6900
 housing_median_age       17.0000
 total_rooms             720.0000
 total_bedrooms          174.0000
 population              333.0000
 households              117.0000
 median_income             1.6509
 median_house_value    85700.0000
 Name: 2, dtype: float64,
 longitude              -114.5700
 latitude                 33.6400
 housing_median_age       14.0000
 total_rooms            1501.0000
 total_bedrooms          337.0000
 population              515.0000
 households              226.0000
 median_income             3.1917
 median_house_value    73400.0000
 Name: 3, dtype: float64,
 longitude              -114.570
 latitude                 33.570
 housing_median_age       20.000
 total_rooms            1454.000
 total_bedrooms          326.000
 population              624.000
 households              262.000
 median_income             1.925
 median_house_value    65500.000
 Name: 4, dtype: float64,
 longitude              -114.5800
 latitude                 33.6300
 housing_median_age       29.0000
 total_rooms            1387.0000
 total_bedrooms          236.0000
 population              671.0000
 households              239.0000
 median_income             3.3438
 median_house_value    74000.0000
 Name: 5, dtype: float64,
 longitude              -114.5800
 latitude                 33.6100
 housing_median_age       25.0000
 total_rooms            2907.0000
 total_bedrooms          680.0000
 population             1841.0000
 households              633.0000
 median_income             2.6768
 median_house_value    82400.0000
 Name: 6, dtype: float64,
 longitude              -114.5900
 latitude                 34.8300
 housing_median_age       41.0000
 total_rooms             812.0000
 total_bedrooms          168.0000
 population              375.0000
 households              158.0000
 median_income             1.7083
 median_house_value    48500.0000
 Name: 7, dtype: float64,
 longitude              -114.5900
 latitude                 33.6100
 housing_median_age       34.0000
 total_rooms            4789.0000
 total_bedrooms         1175.0000
 population             3134.0000
 households             1056.0000
 median_income             2.1782
 median_house_value    58400.0000
 Name: 8, dtype: float64,
 longitude              -114.6000
 latitude                 34.8300
 housing_median_age       46.0000
 total_rooms            1497.0000
 total_bedrooms          309.0000
 population              787.0000
 households              271.0000
 median_income             2.1908
 median_house_value    48100.0000
 Name: 9, dtype: float64,
 longitude              -114.6000
 latitude                 33.6200
 housing_median_age       16.0000
 total_rooms            3741.0000
 total_bedrooms          801.0000
 population             2434.0000
 households              824.0000
 median_income             2.6797
 median_house_value    86500.0000
 Name: 10, dtype: float64,
 longitude              -114.600
 latitude                 33.600
 housing_median_age       21.000
 total_rooms            1988.000
 total_bedrooms          483.000
 population             1182.000
 households              437.000
 median_income             1.625
 median_house_value    62000.000
 Name: 11, dtype: float64,
 longitude              -114.6100
 latitude                 34.8400
 housing_median_age       48.0000
 total_rooms            1291.0000
 total_bedrooms          248.0000
 population              580.0000
 households              211.0000
 median_income             2.1571
 median_house_value    48600.0000
 Name: 12, dtype: float64,
 longitude              -114.610
 latitude                 34.830
 housing_median_age       31.000
 total_rooms            2478.000
 total_bedrooms          464.000
 population             1346.000
 households              479.000
 median_income             3.212
 median_house_value    70400.000
 Name: 13, dtype: float64,
 longitude              -114.6300
 latitude                 32.7600
 housing_median_age       15.0000
 total_rooms            1448.0000
 total_bedrooms          378.0000
 population              949.0000
 households              300.0000
 median_income             0.8585
 median_house_value    45000.0000
 Name: 14, dtype: float64,
 longitude              -114.6500
 latitude                 34.8900
 housing_median_age       17.0000
 total_rooms            2556.0000
 total_bedrooms          587.0000
 population             1005.0000
 households              401.0000
 median_income             1.6991
 median_house_value    69100.0000
 Name: 15, dtype: float64,
 longitude              -114.6500
 latitude                 33.6000
 housing_median_age       28.0000
 total_rooms            1678.0000
 total_bedrooms          322.0000
 population              666.0000
 households              256.0000
 median_income             2.9653
 median_house_value    94900.0000
 Name: 16, dtype: float64,
 longitude              -114.6500
 latitude                 32.7900
 housing_median_age       21.0000
 total_rooms              44.0000
 total_bedrooms           33.0000
 population               64.0000
 households               27.0000
 median_income             0.8571
 median_house_value    25000.0000
 Name: 17, dtype: float64,
 longitude              -114.6600
 latitude                 32.7400
 housing_median_age       17.0000
 total_rooms            1388.0000
 total_bedrooms          386.0000
 population              775.0000
 households              320.0000
 median_income             1.2049
 median_house_value    44000.0000
 Name: 18, dtype: float64,
 longitude              -114.6700
 latitude                 33.9200
 housing_median_age       17.0000
 total_rooms              97.0000
 total_bedrooms           24.0000
 population               29.0000
 households               15.0000
 median_income             1.2656
 median_house_value    27500.0000
 Name: 19, dtype: float64,
 longitude              -114.6800
 latitude                 33.4900
 housing_median_age       20.0000
 total_rooms            1491.0000
 total_bedrooms          360.0000
 population             1135.0000
 households              303.0000
 median_income             1.6395
 median_house_value    44400.0000
 Name: 20, dtype: float64,
 longitude              -114.7300
 latitude                 33.4300
 housing_median_age       24.0000
 total_rooms             796.0000
 total_bedrooms          243.0000
 population              227.0000
 households              139.0000
 median_income             0.8964
 median_house_value    59200.0000
 Name: 21, dtype: float64,
 longitude              -114.940
 latitude                 34.550
 housing_median_age       20.000
 total_rooms             350.000
 total_bedrooms           95.000
 population              119.000
 households               58.000
 median_income             1.625
 median_house_value    50000.000
 Name: 22, dtype: float64,
 longitude              -114.9800
 latitude                 33.8200
 housing_median_age       15.0000
 total_rooms             644.0000
 total_bedrooms          129.0000
 population              137.0000
 households               52.0000
 median_income             3.2097
 median_house_value    71300.0000
 Name: 23, dtype: float64,
 longitude              -115.220
 latitude                 33.540
 housing_median_age       18.000
 total_rooms            1706.000
 total_bedrooms          397.000
 population             3424.000
 households              283.000
 median_income             1.625
 median_house_value    53500.000
 Name: 24, dtype: float64,
 longitude               -115.3200
 latitude                  32.8200
 housing_median_age        34.0000
 total_rooms              591.0000
 total_bedrooms           139.0000
 population               327.0000
 households                89.0000
 median_income              3.6528
 median_house_value    100000.0000
 Name: 25, dtype: float64,
 longitude              -115.3700
 latitude                 32.8200
 housing_median_age       30.0000
 total_rooms            1602.0000
 total_bedrooms          322.0000
 population             1130.0000
 households              335.0000
 median_income             3.5735
 median_house_value    71100.0000
 Name: 26, dtype: float64,
 longitude              -115.3700
 latitude                 32.8200
 housing_median_age       14.0000
 total_rooms            1276.0000
 total_bedrooms          270.0000
 population              867.0000
 households              261.0000
 median_income             1.9375
 median_house_value    80900.0000
 Name: 27, dtype: float64,
 longitude              -115.3700
 latitude                 32.8100
 housing_median_age       32.0000
 total_rooms             741.0000
 total_bedrooms          191.0000
 population              623.0000
 households              169.0000
 median_income             1.7604
 median_house_value    68600.0000
 Name: 28, dtype: float64,
 longitude              -115.3700
 latitude                 32.8100
 housing_median_age       23.0000
 total_rooms            1458.0000
 total_bedrooms          294.0000
 population              866.0000
 households              275.0000
 median_income             2.3594
 median_house_value    74300.0000
 Name: 29, dtype: float64,
 longitude              -115.3800
 latitude                 32.8200
 housing_median_age       38.0000
 total_rooms            1892.0000
 total_bedrooms          394.0000
 population             1175.0000
 households              374.0000
 median_income             1.9939
 median_house_value    65800.0000
 Name: 30, dtype: float64,
 longitude              -115.3800
 latitude                 32.8100
 housing_median_age       35.0000
 total_rooms            1263.0000
 total_bedrooms          262.0000
 population              950.0000
 households              241.0000
 median_income             1.8958
 median_house_value    67500.0000
 Name: 31, dtype: float64,
 longitude               -115.3900
 latitude                  32.7600
 housing_median_age        16.0000
 total_rooms             1136.0000
 total_bedrooms           196.0000
 population               481.0000
 households               185.0000
 median_income              6.2558
 median_house_value    146300.0000
 Name: 32, dtype: float64,
 longitude               -115.4000
 latitude                  32.8600
 housing_median_age        19.0000
 total_rooms             1087.0000
 total_bedrooms           171.0000
 population               649.0000
 households               173.0000
 median_income              3.3182
 median_house_value    113800.0000
 Name: 33, dtype: float64,
 longitude              -115.4000
 latitude                 32.7000
 housing_median_age       19.0000
 total_rooms             583.0000
 total_bedrooms          113.0000
 population              531.0000
 households              134.0000
 median_income             1.6838
 median_house_value    95800.0000
 Name: 34, dtype: float64,
 longitude               -115.4100
 latitude                  32.9900
 housing_median_age        29.0000
 total_rooms             1141.0000
 total_bedrooms           220.0000
 population               684.0000
 households               194.0000
 median_income              3.4038
 median_house_value    107800.0000
 Name: 35, dtype: float64,
 longitude              -115.46
 latitude                 33.19
 housing_median_age       33.00
 total_rooms            1234.00
 total_bedrooms          373.00
 population              777.00
 households              298.00
 median_income             1.00
 median_house_value    40000.00
 Name: 36, dtype: float64,
 longitude              -115.4800
 latitude                 32.8000
 housing_median_age       21.0000
 total_rooms            1260.0000
 total_bedrooms          246.0000
 population              805.0000
 households              239.0000
 median_income             2.6172
 median_house_value    88500.0000
 Name: 37, dtype: float64,
 longitude              -115.4800
 latitude                 32.6800
 housing_median_age       15.0000
 total_rooms            3414.0000
 total_bedrooms          666.0000
 population             2097.0000
 households              622.0000
 median_income             2.3319
 median_house_value    91200.0000
 Name: 38, dtype: float64,
 longitude               -115.4900
 latitude                  32.8700
 housing_median_age        19.0000
 total_rooms              541.0000
 total_bedrooms           104.0000
 population               457.0000
 households               106.0000
 median_income              3.3583
 median_house_value    102800.0000
 Name: 39, dtype: float64,
 longitude              -115.490
 latitude                 32.690
 housing_median_age       17.000
 total_rooms            1960.000
 total_bedrooms          389.000
 population             1691.000
 households              356.000
 median_income             1.899
 median_house_value    64000.000
 Name: 40, dtype: float64,
 longitude              -115.4900
 latitude                 32.6700
 housing_median_age       29.0000
 total_rooms            1523.0000
 total_bedrooms          440.0000
 population             1302.0000
 households              393.0000
 median_income             1.1311
 median_house_value    84700.0000
 Name: 41, dtype: float64,
 longitude              -115.490
 latitude                 32.670
 housing_median_age       25.000
 total_rooms            2322.000
 total_bedrooms          573.000
 population             2185.000
 households              602.000
 median_income             1.375
 median_house_value    70100.000
 Name: 42, dtype: float64,
 longitude               -115.5000
 latitude                  32.7500
 housing_median_age        13.0000
 total_rooms              330.0000
 total_bedrooms            72.0000
 population               822.0000
 households                64.0000
 median_income              3.4107
 median_house_value    142500.0000
 Name: 43, dtype: float64,
 longitude              -115.5000
 latitude                 32.6800
 housing_median_age       18.0000
 total_rooms            3631.0000
 total_bedrooms          913.0000
 population             3565.0000
 households              924.0000
 median_income             1.5931
 median_house_value    88400.0000
 Name: 44, dtype: float64,
 longitude              -115.5000
 latitude                 32.6700
 housing_median_age       35.0000
 total_rooms            2159.0000
 total_bedrooms          492.0000
 population             1694.0000
 households              475.0000
 median_income             2.1776
 median_house_value    75500.0000
 Name: 45, dtype: float64,
 longitude              -115.5100
 latitude                 33.2400
 housing_median_age       32.0000
 total_rooms            1995.0000
 total_bedrooms          523.0000
 population             1069.0000
 households              410.0000
 median_income             1.6552
 median_house_value    43300.0000
 Name: 46, dtype: float64,
 longitude              -115.510
 latitude                 33.120
 housing_median_age       21.000
 total_rooms            1024.000
 total_bedrooms          218.000
 population              890.000
 households              232.000
 median_income             2.101
 median_house_value    46700.000
 Name: 47, dtype: float64,
 longitude              -115.5100
 latitude                 32.9900
 housing_median_age       20.0000
 total_rooms            1402.0000
 total_bedrooms          287.0000
 population             1104.0000
 households              317.0000
 median_income             1.9088
 median_house_value    63700.0000
 Name: 48, dtype: float64,
 longitude              -115.510
 latitude                 32.680
 housing_median_age       11.000
 total_rooms            2872.000
 total_bedrooms          610.000
 population             2644.000
 households              581.000
 median_income             2.625
 median_house_value    72700.000
 Name: 49, dtype: float64,
 longitude              -115.5200
 latitude                 34.2200
 housing_median_age       30.0000
 total_rooms             540.0000
 total_bedrooms          136.0000
 population              122.0000
 households               63.0000
 median_income             1.3333
 median_house_value    42500.0000
 Name: 50, dtype: float64,
 longitude              -115.520
 latitude                 33.130
 housing_median_age       18.000
 total_rooms            1109.000
 total_bedrooms          283.000
 population             1006.000
 households              253.000
 median_income             2.163
 median_house_value    53400.000
 Name: 51, dtype: float64,
 longitude              -115.5200
 latitude                 33.1200
 housing_median_age       38.0000
 total_rooms            1327.0000
 total_bedrooms          262.0000
 population              784.0000
 households              231.0000
 median_income             1.8793
 median_house_value    60800.0000
 Name: 52, dtype: float64,
 longitude              -115.5200
 latitude                 32.9800
 housing_median_age       32.0000
 total_rooms            1615.0000
 total_bedrooms          382.0000
 population             1307.0000
 households              345.0000
 median_income             1.4583
 median_house_value    58600.0000
 Name: 53, dtype: float64,
 longitude              -115.520
 latitude                 32.970
 housing_median_age       24.000
 total_rooms            1617.000
 total_bedrooms          366.000
 population             1416.000
 households              401.000
 median_income             1.975
 median_house_value    66400.000
 Name: 54, dtype: float64,
 longitude              -115.5200
 latitude                 32.9700
 housing_median_age       10.0000
 total_rooms            1879.0000
 total_bedrooms          387.0000
 population             1376.0000
 households              337.0000
 median_income             1.9911
 median_house_value    67500.0000
 Name: 55, dtype: float64,
 longitude              -115.5200
 latitude                 32.7700
 housing_median_age       18.0000
 total_rooms            1715.0000
 total_bedrooms          337.0000
 population             1166.0000
 households              333.0000
 median_income             2.2417
 median_house_value    79200.0000
 Name: 56, dtype: float64,
 longitude              -115.5200
 latitude                 32.7300
 housing_median_age       17.0000
 total_rooms            1190.0000
 total_bedrooms          275.0000
 population             1113.0000
 households              258.0000
 median_income             2.3571
 median_house_value    63100.0000
 Name: 57, dtype: float64,
 longitude              -115.5300
 latitude                 34.9100
 housing_median_age       12.0000
 total_rooms             807.0000
 total_bedrooms          199.0000
 population              246.0000
 households              102.0000
 median_income             2.5391
 median_house_value    40000.0000
 Name: 59, dtype: float64,
 longitude              -115.5300
 latitude                 32.9900
 housing_median_age       25.0000
 total_rooms            2578.0000
 total_bedrooms          634.0000
 population             2082.0000
 households              565.0000
 median_income             1.7159
 median_house_value    62200.0000
 Name: 60, dtype: float64,
 longitude              -115.5300
 latitude                 32.9700
 housing_median_age       35.0000

In [8]:
new_train = pd.DataFrame(new_data)
new_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [16]:
train = pd.read_csv('sample_data/california_housing_train.csv')
print(train.loc[58]) # 58번째 행 데이터 조회

longitude              -115.5200
latitude                 32.6700
housing_median_age        6.0000
total_rooms            2804.0000
total_bedrooms          581.0000
population             2807.0000
households              594.0000
median_income             2.0625
median_house_value    67700.0000
Name: 58, dtype: float64

In [18]:
# train.loc[행, 열]: 행과 열을 동시에 선택
# train.loc[58, 'housing_median_age']

# housing_median_age가 10미만인 행을 가져오는데 housing_median_age 컬럼값만 가져온다
train.loc[train['housing_median_age'] < 10, 'housing_median_age']

58       6
75       5
95       5
98       5
100      8
        ..
16679    7
16680    9
16692    8
16776    8
16854    9
Name: housing_median_age, Length: 1087, dtype: int64

In [19]:
train.loc[train['housing_median_age'] < 10, 'housing_median_age'] * 10

58       60
75       50
95       50
98       50
100      80
         ..
16679    70
16680    90
16692    80
16776    80
16854    90
Name: housing_median_age, Length: 1087, dtype: int64

In [20]:
# 10미만인 housing_median_age 값들에 10 곱하기
train.loc[train['housing_median_age'] < 10, 'housing_median_age'] = train.loc[train['housing_median_age'] < 10, 'housing_median_age'] * 10
print(train.loc[58]) # 58번행 값을 다시 조회

longitude              -115.5200
latitude                 32.6700
housing_median_age       60.0000
total_rooms            2804.0000
total_bedrooms          581.0000
population             2807.0000
households              594.0000
median_income             2.0625
median_house_value    67700.0000
Name: 58, dtype: float64

### 5. 데이터 생성

In [22]:
train = pd.read_csv('sample_data/california_housing_train.csv')
print(train.loc[58])

longitude              -115.5200
latitude                 32.6700
housing_median_age        6.0000
total_rooms            2804.0000
total_bedrooms          581.0000
population             2807.0000
households              594.0000
median_income             2.0625
median_house_value    67700.0000
Name: 58, dtype: float64

In [25]:
train.loc[train['housing_median_age'] < 10, 'housing_median_age']

58       6
75       5
95       5
98       5
100      8
        ..
16679    7
16680    9
16692    8
16776    8
16854    9
Name: housing_median_age, Length: 1087, dtype: int64

In [26]:
import numpy as np

# np.log() 자연로그 계산
np.log(60)

4.0943445622221

In [27]:
# housing_median_age가 10미만인 housing_median_age값에 10을 곱한 후 자연로그 값을 구함

np.log(train.loc[train['housing_median_age'] < 10, 'housing_median_age'] * 10)

58       4.094345
75       3.912023
95       3.912023
98       3.912023
100      4.382027
           ...
16679    4.248495
16680    4.499810
16692    4.382027
16776    4.382027
16854    4.499810
Name: housing_median_age, Length: 1087, dtype: float64

In [28]:
train.loc[train['housing_median_age'] < 10, 'housing_median_age_log'] = np.log(train.loc[train['housing_median_age'] < 10, 'housing_median_age'] * 10)

In [29]:
train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_median_age_log
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900,NaN
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100,NaN
2,-114.56,33.69,17,720,174,333,117,1.6509,85700,NaN
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400,NaN
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500,NaN
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400,NaN
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000,NaN
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600,NaN
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800,NaN
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600,NaN

### 6. Pyplot을 사용한 그래프 생성

In [4]:
import matplotlib.pyplot as plt # 파이썬에서 데이터 시각화를 위해 사용하는 기본 라이브러리
import seaborn as sns # 그래프의 디자인을 다듬어주는 라이브러리

In [11]:
# train[col3].plot(kind='hist')