### 1. 판다스 Series와 DataFrame

In [1]:
import pandas as pd

In [2]:
# 1. 판다스 Series

# 1차원 데이터 구조로 인덱스를 포함하는 배열 형태
series_example = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
print(series_example)
print('')
print(series_example['A'])
print(series_example['C'])

A    10
B    20
C    30
D    40
dtype: int64

10
30

In [12]:
# 2. 판다스 DataFrame

# DataFrame은 행과 열로 구성된 테이블 형태의 2차원 데이터 구조
# 여러 개의 Series 가 DataFrame을 구성

dataframe_example = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', ' David'],
    'Age': [25, 30, 35, 40],
    'City': ['뉴욕', '로스엔젤레스', '시카고', '휴스톤']
})

In [3]:
print(dataframe_example)
print('')
print(dataframe_example['Name'])
print('')
print(dataframe_example['City'])

NameError: name 'dataframe_example' is not defined