In [ ]:
import pandas as pd
import csv
import shutil
# import numpy as np

In [29]:
# 1. 판다스 Series

# 1차원 데이터 구조로 인덱스를 포함하는 배열 형태
series_example = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
print(series_example)
print('')
print(series_example['A'])
print(series_example['C'])

A    10
B    20
C    30
D    40
dtype: int64

10
30

In [30]:
# 2. 판다스 DataFrame

# DataFrame은 행과 열로 구성된 테이블 형태의 2차원 데이터 구조
# 여러 개의 Series가 모여서 DataFrame을 구성한다.

dataframe_example = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['뉴욕', '로스엔젤레스', '시카고', '휴스톤']
})

display(dataframe_example)
print(dataframe_example)
print('')
print(dataframe_example['Name'])
print('')
print(dataframe_example['City'])

      Name  Age    City
0    Alice   25      뉴욕
1      Bob   30  로스엔젤레스
2  Charlie   35     시카고
3    David   40     휴스톤

      Name  Age    City
0    Alice   25      뉴욕
1      Bob   30  로스엔젤레스
2  Charlie   35     시카고
3    David   40     휴스톤

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

0        뉴욕
1    로스엔젤레스
2       시카고
3       휴스톤
Name: City, dtype: object

In [ ]:
# import shutil

# path = 'c:/project/python/study/01_머신러닝/'
csvfile = 'california_housing_train.csv'

# move_path = f'{path}{csvfile}'

# shutil.copy(move_path, f'{path}/sample_data/{csvfile}')

In [61]:
# with open(f'sample_data/{csvfile}', 'r') as file:
#     reader = csv.reader(file)
#     data = [row for row in reader]

# print(data)

# df = pd.read_csv('sample_data/california_housing_train.csv')
csv_path = 'sample_data/california_housing_train.csv'


train = pd.read_csv(csv_path)
print(train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                  15         5612            1283
1        -114.47     34.40                  19         7650            1901
2        -114.56     33.69                  17          720             174
3        -114.57     33.64                  14         1501             337
4        -114.57     33.57                  20         1454             326
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                  52         2217             394
16996    -124.27     40.69                  36         2349             528
16997    -124.30     41.84                  17         2677             531
16998    -124.30     41.80                  19         2672             552
16999    -124.35     40.54                  52         1820             300

       population  households  median_income  median_house_value
0            1015         472         1.4936               66900
1            1129         463         1.8200               80100
2             333         117         1.6509               85700
3             515         226         3.1917               73400
4             624         262         1.9250               65500
...           ...         ...            ...                 ...
16995         907         369         2.3571              111400
16996        1194         465         2.5179               79000
16997        1244         456         3.0313              103600
16998        1298         478         1.9797               85800
16999         806         270         3.0147               94600

[17000 rows x 9 columns]

In [105]:
column_names = train.columns.tolist()

print(column_names)
data_type = train.dtypes.tolist()

column_object = {'Column_Name': column_names, 'Data_Type': data_type}
display_column = pd.DataFrame(column_object)

print('배열을 새 오브젝트에 감싸 display로 출력하는 방법:')
display(display_column)

print('')
print('배열을 바로 DataFrame을 이용한 방법:')
column_df = pd.DataFrame(column_names, columns=['column_name'])
print(column_df)
print('')

print('for ~ in문을 이용한 방법:')
for item in column_names:
    print(item)

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
배열을 새 오브젝트에 감싸 display로 출력하는 방법:

          Column_Name Data_Type
0           longitude   float64
1            latitude   float64
2  housing_median_age     int64
3         total_rooms     int64
4      total_bedrooms     int64
5          population     int64
6          households     int64
7       median_income   float64
8  median_house_value     int64

배열을 바로 DataFrame을 이용한 방법:
          column_name
0           longitude
1            latitude
2  housing_median_age
3         total_rooms
4      total_bedrooms
5          population
6          households
7       median_income
8  median_house_value

for ~ in문을 이용한 방법:
longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value

In [75]:
print(train.loc[30])
print('')

longitude              -115.3800
latitude                 32.8200
housing_median_age       38.0000
total_rooms            1892.0000
total_bedrooms          394.0000
population             1175.0000
households              374.0000
median_income             1.9939
median_house_value    65800.0000
Name: 30, dtype: float64

In [104]:
class COLUMNS:
    def __init__(self, column_names):
        for idx, name in enumerate(column_names):
            setattr(self, f"col{idx+1}", name)
            setattr(self, name, name)

col = COLUMNS(column_names)

# col0 = col.col0
col1 = col.col1
col2 = col.col2
col3 = col.col3
col4 = col.col4
col5 = col.col5
col6 = col.col6
col7 = col.col7
col8 = col.col8
col9 = col.col9

print(col1)
# print('col0:', col0)
print('col1:', col1)
print('col2:', col2)
print('col3:', col3)
print('col4:', col4)
print('col5:', col5)
print('col6:', col6)
print('col7:', col7)
print('col8:', col8)
print('col9:', col9)

longitude
col1: longitude
col2: latitude
col3: housing_median_age
col4: total_rooms
col5: total_bedrooms
col6: population
col7: households
col8: median_income
col9: median_house_value

In [89]:
# column1 = 'housing_median_age'
print(col3)
print('')
print(train[col3])

housing_median_age

0        15
1        19
2        17
3        14
4        20
         ..
16995    52
16996    36
16997    17
16998    19
16999    52
Name: housing_median_age, Length: 17000, dtype: int64

In [97]:
train.loc[train[col3] < 10, col3]

58       6
75       5
95       5
98       5
100      8
        ..
16679    7
16680    9
16692    8
16776    8
16854    9
Name: housing_median_age, Length: 1087, dtype: int64

In [99]:
print(train.loc[58]) # 58번째 행 데이터 조회

longitude              -115.5200
latitude                 32.6700
housing_median_age        6.0000
total_rooms            2804.0000
total_bedrooms          581.0000
population             2807.0000
households              594.0000
median_income             2.0625
median_house_value    67700.0000
Name: 58, dtype: float64

In [26]:
train[train['housing_median_age'] < 10]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
58,-115.52,32.67,6,2804,581,2807,594,2.0625,67700
75,-115.55,32.78,5,2652,606,1767,536,2.8025,84300
95,-115.58,32.81,5,805,143,458,143,4.4750,96300
98,-115.58,32.78,5,2494,414,1416,421,5.7843,110100
100,-115.59,32.79,8,2183,307,1000,287,6.3814,159900
...,...,...,...,...,...,...,...,...,...
16679,-122.79,38.48,7,6837,1417,3468,1405,3.1662,191000
16680,-122.79,38.42,9,4967,885,2581,915,5.0380,185600
16692,-122.82,38.55,8,6190,1088,2967,1000,3.8616,195100
16776,-123.00,38.33,8,3223,637,851,418,5.6445,364800
16854,-123.49,38.70,9,5409,1019,594,327,3.3125,295400

### 3. 데이터 프레임을 활용해서 housing_median_age가 10 미만인 데이터  삭제

In [10]:
# new data = [] # housing_median_age가 10 미만인 데이터를 삭제한 결과 저장

# itemrows(): 데이터프레임의 각 행을 반복해서 행별 데이터 가져옴
# index: 행의 인덱스
# row: 행의 데이터를 판다스 Series 형태로 변환

# for index, row in train.itemrows =

In [16]:
import numpy as np


# np.log(60)
# np.log(train.loc[train['housing_median_age'] < 10, 'housing_median_age'] * 10)

NameError: name 'train' is not defined